.pfp{
    height: 50px;
    width: 50px;
}
.pfp:hover{
    transform: scale(1.2,1.2);
}
#username:hover{
    transform: scale(1.2,1.2) translateX(60px);
}
.catpost{
    width: 750px;
    height: auto;
}
.content{
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;

}
main{
    background-color:  #A3B18A;
    margin: 0 auto;
    max-width: 800px;
}
body{
    background-color: #A3B18A;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:active:focus {
    background-color: #344E41;
    border-color: #344E41;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:active:focus{
    background-color: #588157;
    border-color: #588157;
}
.btn-outline-primary {
    border-color: #344E41;
    color: #344E41;
}
.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:active:focus{
    background-color: #344E41;
    border-color: #344E41;
    color: white;
}
.btn-primary:active:focus, .btn-outline-primary:active:focus, .btn-secondary:active:focus{
    transform: translateY(2px);
}